<!DOCTYPE html>
<html lang="en">
<head>
     <title>People Reviews</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

     <link rel='stylesheet' href='/Final_Assignment_of_CSS/Assets/css/peopleAboutUs/people.css'>
</head>
<body>
    <div class="container">
        
        <div >
            <div class="justify-content-center" style="text-align: center;">
                <h4> <b><u> People About us </u></b></h4>
                <p> jdkjl j hjkhk hkj hkjh jh hjk hkjh jh jhkjh kjh kjh</p>
              </div>
       </div>

        <div class="row reviewRow ">

            
            <div class="col" >

                <div class="row">
                  <div class='col' >
                    <div class='row reviewStyle' style="border-bottom: 1px solid ;">

                        <div style="float: left; ">
                            <div class="pcircle">
                                <div class="fa-stack fa-x faPositionPeople">
                                    <p><i class="far fa-user fa-3x iconStylePeople"></i><p>                      
                                </div>  
                            </div>
                        </div>
                    
                        <div style="float: left; margin-top: 38px; " > 
                            <h6> John Doe</h6>
                            <p> ssssssss sssssssss11</p>
                        </div>
                    
                    </div>
                    <div  style="margin-left: -14px;">
                        <div style="float: left; ">
                            <div class="pcircle">
                                <div class="fa-stack fa-x faPositionPeople">
                                    <p><i class="far fa-user fa-3x iconStylePeople"></i><p>                      
                                </div>  
                            </div>
                        </div>
                  
                        <div style="float: left; margin-top: 38px; " > 
                            <h6> John Doe</h6>
                            <p> sssssssssssssssss11 </p>
                        </div>

                     </div>
                </div>
                
                
                <div style="clear:both;"></div>

                <div class='col' >
                    <div class='row reviewStyle' style="border-bottom: 1px solid ; border-left: 1px solid;
                                       ">

                        <div style="float: left; ">
                            <div class="pcircle">
                                <div class="fa-stack fa-x faPositionPeople">
                                    <p><i class="far fa-user fa-3x iconStylePeople"></i><p>                      
                                </div>  
                            </div>
                        </div>
                    
                        <div style="float: left; margin-top: 38px; margin-left: 22px;" > 
                            <h6> John Doe</h6>
                            <p> ssssssss sssssssss22</p>
                        </div>
                    
                    </div>
                    <div  style="margin-left: -14px;">
                        <div style="float: left; border-left: 1px solid;">
                            <div class="pcircle">
                                <div class="fa-stack fa-x faPositionPeople">
                                    <p><i class="far fa-user fa-3x iconStylePeople"></i><p>                      
                                </div>  
                            </div>
                        </div>
                  
                        <div style="float: left; margin-top: 38px; margin-left: 10px;" > 
                            <h6> John Doe</h6>
                            <p> sssssssssssssssss22 </p>
                        </div>

                     </div>
                </div>

                
            </div>

            <!-- col-2 -->
            
            <!-- <div class="col-md-12" >

                <div class="row">
                  <div class='col' >
                    <div class='row reviewStyle' style="border-bottom: 1px solid ;">

                        <div style="float: left; ">
                            <div class="circle">
                                <div class="fa-stack fa-x faPosition">
                                    <p><i class="far fa-user fa-3x iconStyle"></i><p>                      
                                </div>  
                            </div>
                        </div>
                    
                        <div style="float: left; margin-top: 38px; " > 
                            <h6> John Doe</h6>
                            <p> ssssssss sssssssss11</p>
                        </div>
                    
                    </div>
                    <div  style="margin-left: -14px;">
                        <div style="float: left; ">
                            <div class="circle">
                                <div class="fa-stack fa-x faPosition">
                                    <p><i class="far fa-user fa-3x iconStyle"></i><p>                      
                                </div>  
                            </div>
                        </div>
                  
                        <div style="float: left; margin-top: 38px; " > 
                            <h6> John Doe</h6>
                            <p> sssssssssssssssss11 </p>
                        </div>

                     </div>
                </div>
                
                
                <div style="clear:both;"></div>

                <div class='col' >
                    <div class='row reviewStyle' style="border-bottom: 1px solid ; border-left: 1px solid;
                                       ">

                        <div style="float: left; ">
                            <div class="circle">
                                <div class="fa-stack fa-x faPosition">
                                    <p><i class="far fa-user fa-3x iconStyle"></i><p>                      
                                </div>  
                            </div>
                        </div>
                    
                        <div style="float: left; margin-top: 38px; margin-left: 22px;" > 
                            <h6> John Doe</h6>
                            <p> ssssssss sssssssss22</p>
                        </div>
                    
                    </div>
                    <div  style="margin-left: -14px;">
                        <div style="float: left; border-left: 1px solid;">
                            <div class="circle">
                                <div class="fa-stack fa-x faPosition">
                                    <p><i class="far fa-user fa-3x iconStyle"></i><p>                      
                                </div>  
                            </div>
                        </div>
                  
                        <div style="float: left; margin-top: 38px; margin-left: 10px;" > 
                            <h6> John Doe</h6>
                            <p> sssssssssssssssss22 </p>
                        </div>

                     </div>
                </div>

                
            </div>
 -->

            <!-- end col-2 -->


        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous"></script>
                
 <script >

$('.responsive').slick();

</script>
</body>
</html>