<html lang="en">
<head>
     <title>Our Skills</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
     <link rel="stylesheet" href='/Final_Assignment_of_CSS/Assets/css/skillsColorCircles/skillColor.css'>
</head>
<body>

    <div class="container">

        <div >
            <div class="justify-content-center" style="text-align: center;">
                <h4> <b><u> Our Skills </u></b></h4>
                <p> jdkjl j hjkhk hkj hkjh jh hjk hkjh jh jhkjh kjh kjh</p>
              </div>
       </div>

        <div class="row">
            <div class="col column">
               
                    <div class='circle-body'>
                       
                        <svg class='svgSize'>

                            <circle class="svgCircle" cx='70' cy='70' r='70'></circle>
                            <circle  class="svgCircle" cx='70' cy='70' r='70'></circle>
                        </svg>
                        <div class="percent" style="color: orange;">
                            <h5>45%</h5>
                        </div>
                    </div>              


            </div>
            <div class="col column">

                <div class='circle-body'>
                       
                    <svg class='svgSize'>

                        <circle class="svgCircle" cx='70' cy='70' r='70'></circle>
                        <circle  class="svgCircle" cx='70' cy='70' r='70'></circle>
                    </svg>
                    <div class="percent"  style="color: purple;">
                        <h5>60%</h5>
                        <h5 class="small"> SEO & Ads</h5>
                    </div>
                    <div class="text"></div>
                </div>
                
            </div>
            <div class="col column">
                <div class='circle-body'>
                       
                    <svg class='svgSize'>

                        <circle class="svgCircle" cx='70' cy='70' r='70'></circle>
                        <circle  class="svgCircle" cx='70' cy='70' r='70'></circle>
                    </svg>
                    <div class="percent"  style="color: greenyellow;">
                        <h5>75%</h5>
                        <h5 class="small"> Branding </h5>
                    </div>
                   
                </div>
            </div>

            <div class="col column">
                <div class='circle-body'>
                       
                    <svg class='svgSize'>

                        <circle class="svgCircle" cx='70' cy='70' r='70'></circle>
                        <circle  class="svgCircle" cx='70' cy='70' r='70'></circle>
                    </svg>
                    <div class="percent"  style="color: blue;">
                        <h5>80%</h5>
                        <h5 class="small"> Web Design </h5>
                    </div>
                    
                </div>                
            </div>
            
        </div>
        <hr/>
    </div>

    
</body>
</html>