<!DOCTYPE html>
<html lang="en">
<head>
      <title> Contact Form </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/Final_Assignment_of_CSS/Assets/css/contactform/contactform.css">
</head>
<body>
    <div class="container">

            <div>
                <div class="pageFormatting">
                    <div class='title'>
                        
                            <h4> <b> START YOUR NEW PROJECT </b></h4>                   
                          
                   </div>

                 <form action=''>                    

                        <input type="text"   size='20' maxlength='30' placeholder="your Name Please" required >
                    
                        <input type="email"  size='20' maxlength='30' placeholder="your Email Please" required>
                
                    
                        <input type="phone"  size='15' maxlength='12' placeholder="123-452-6782" required
                        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                        
                        <input class='btnfrm btn-sm btn-warning' type="button" value='Send Request'>
                    
                </form>
                <div class="small bottomText">
                    <p> jdkjl j hjkhk hkj hkjh jh hjk hkjh jh jhkjh kjh kjh fjskhjk</p>
              </div>
            </div>
            
        </div>

        
    </div>   
</body>
</html>