<!DOCTYPE html>
<html lang="en">
<head>
    <title>Latest Packages</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <link rel='stylesheet' href='/Final_Assignment_of_CSS/Assets/css/cardsPackage/cardsPackage.css'>

</head>
<body>

  <div class="container" style="height: 100px; width: 100%;">

    <div class="justify-content-center" style="text-align: center;">
      <h2> Affordable Web Design Packages </h2>
      <p> jdkjl j hjkhk hkj hkjh jh hjk hkjh jh jhkjh kjh kjh</p>
  </div>  

    <div class="row">

      
      <div class="col">

        <div class="card pkgColhover">
          <div class="card-header pkgCardHeader">
            WEB BASIC PREMIMUN 
          </div>
          <div class="card-body pkgCardBody">
            <div> <h6 class='pkgNewPrice'> <sup>$</sup> 859.00</h6></div>
            <div> <h6 class='pkgOldrice'> <span class="pkgOldriceStrikeOut">$ 2148 </span> &nbsp; 60% off! </h6></div>

              <div>
                <p>Unlimited Pages Website
                  <a href="#">
                    <span style="color: green; margin-left: 5px;">
                    <i class="fas fa-question-circle" ></i> 
                    </span>  
                  </a>  
                </p>       
              </div>            

              <p>1 Design Concept</p>
              <p>1 Dedicated Designer</p>
              <p>Turn Around 5 Business Days</p>
              <p>10 Stock Photos</p>
              <p>Free on Page SEO</p>
              <p>Free 1 Year Web Hosting</p>
              <p><b>Free CMS Integration</b>
                <a href="#">
                  <span style="color: green; margin-left: 5px;">
                  <i class="fas fa-question-circle" ></i> 
                  </span>  
                </a>  
              </p>
              <p><b>100%</b> Satisfaction Gauranteed</p>
              
            </div>    

            <div class="pkgbtn" style="margin-bottom: -15px;text-align: center;"> <a href="#" class="btn btn-primary">ORDER NOW</a></div>              

          </div>
        </div>

        <div class="col">

          <div class="card pkgColhover ">
            <div class="card-header pkgCardHeader">
              WEB BASIC PLUS 
            </div>
            <div class="card-body pkgCardBody">
              <div> <h6 class='pkgNewPrice'> <sup>$</sup> 659.00</h6></div>
              <div> <h6 class='pkgOldrice'> <span class="pkgOldriceStrikeOut">$ 1623 </span> &nbsp; 60% off! </h6></div>
  
               
              <div>
                <p>Unlimited Pages Website
                  <a href="#">
                    <span style="color: green; margin-left: 5px;">
                    <i class="fas fa-question-circle" ></i> 
                    </span>  
                  </a>  
                </p>       
              </div>   
                             
  
                <p>1 Design Concept</p>
                <p>1 Dedicated Designer</p>
                <p>Turn Around 5 Business Days</p>
                <p>7 Stock Photos</p>
                <p>Free on Page SEO</p>
               
                <p>W3C Certified HTML </p>
                

                <p><b> Add CMS for $299</b> 
                  <a href="#">
                    <span style="color: green; margin-left: 5px;">
                    <i class="fas fa-question-circle" ></i> 
                    </span>  
                  </a>  
                </p>

                <p> <b>100%</b> Satisfaction Gauranteed</p>
                
              </div>    
  
              <div class="pkgbtn" style="margin-bottom: -15px;text-align: center;"> <a href="#" class="btn btn-primary">ORDER NOW</a></div>              
  
            </div>
         
         
        </div>  

          <div class="col">

            <div class="card pkgColhover">
              <div class="card-header pkgCardHeader">
                WEB BASIC
              </div>
              <div class="card-body pkgCardBody">
                <div> <h6 class='pkgNewPrice'> <sup>$</sup> 499.00</h6></div>
                <div> <h6 class='pkgOldrice'> <span class="pkgOldriceStrikeOut">$ 1248 </span> &nbsp; 60% off! </h6></div>
    
                  <div>
                    <p>5 Pages Website
                      <a href="#">
                        <span style="color: green; margin-left: 5px;">
                        <i class="fas fa-question-circle" ></i> 
                        </span>  
                      </a>  
                    </p>       
                  </div>            
    
                  <p>1 Design Concept</p>
                  <p>1 Dedicated Designer</p>
                  <p>Turn Around 5 Business Days</p>
                  <p>4 Stock Photos</p>
                  <p>Free on Page SEO</p>
                  <p>Free 1 Year Web Hosting</p>
                  <p><b>Free CMS Integration</b>
                    <a href="#">
                      <span style="color: green; margin-left: 5px;">
                      <i class="fas fa-question-circle" ></i> 
                      </span>  
                    </a>  
                  </p>
                  <p><b>100%</b> Satisfaction Gauranteed</p>
                  
                </div>    
    
                <div class="pkgbtn" style="margin-bottom: -15px;text-align: center;"> <a href="#" class="btn btn-primary">ORDER NOW</a></div>              
    
              </div> 
          </div>

      </div>

      <div class="allpkgbtndiv" style="margin-top: 35px;text-align: center;"> <a href="#" class="btn btn-primary allpkgbtn">View All Packages</a></div>              
   
    </div>
    
  

</body>
</html>