<!DOCTYPE html>
<html lang="en">
<head>
     <title>Our Development Process</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

     <link rel='stylesheet' href='/Final_Assignment_of_CSS/Assets/css/ourProcess/process.css'>


</head>
<body>

    <div class="container">

        <div class="justify-content-center" style="text-align: center;">
            <h4> <b><u>Our Process </u></b></h4>
            <p> jdkjl j hjkhk hkj hkjh jh hjk hkjh jh jhkjh kjh kjh</p>
       </div>

       
        <div class="row">

           
            <div class="col colWidth">
               <!-- <i class="fa-circle fas fa-mobile-alt fa-5x"></i> -->

                  <div class="circle">
                    <div class="fa-stack fa-x faPosition">
                        <!-- The icon that will wrap the number -->
                        <p class="fas fa-circle-notch fa-spin  fa-stack-2x"></p>                        
                    </div>

                    <p class="fa-stack-x numberStyle">
                        <b>1</b>    
                    </p>

                    <p><i class="fas fa-mobile-alt fa-3x iconStyle"></i><p>
                </div>
                <div class='small processTextStyle' style="text-align: center;"><h6>Request Call</h6>
                    <p>fdshkj hdfskj hfdskj hsdfkjhfsgkj fhgk</p>
                </div>
               
            </div>

           

            <div class="col colWidth">
               
                    <!-- <i class="fa-circle fas fa-mobile-alt fa-5x"></i> -->
     
                       <div class="circle">
                         <div class="fa-stack fa-x faPosition">
                             <!-- The icon that will wrap the number -->
                             <p class="fas fa-circle-notch fa-spin  fa-stack-2x"></p>
                             
                         </div>
     
                         <p class="fa-stack-x numberStyle">
                             <b>2</b>    
                         </p>
     
                         <p class="fas fa-chalkboard-teacher fa-3x iconStyle"><p>
                            
                     </div>
                     <div class='small processTextStyle' style="text-align: center;"><h6>Consultation</h6>
                        <p>fdshkj hdfskj hfdskj hsdfkjhfsgkj fhgk</p>
                    </div>                  
     
            </div>

            <div class="col colWidth">
               
                    <!-- <i class="fa-circle fas fa-mobile-alt fa-5x"></i> -->
     
                       <div class="circle">
                         <div class="fa-stack fa-x faPosition">
                             <!-- The icon that will wrap the number -->
                             <p class="fas fa-circle-notch fa-spin  fa-stack-2x"></p>
                             
                         </div>
     
                         <p class="fa-stack-x numberStyle">
                             <b>3</b>    
                         </p>
     
                         <p><i class="fas fa-people-arrows fa-3x iconStyle"></i><p>
                     </div>
                
                 <div class='small processTextStyle' style="text-align: center;">
                     <h6>Planning</h6>
                    <p>fdshkj hdfskj hfdskj hsdfkjhfsgkj fhgk</p>
                </div>
     
            </div>

            <div class="col colWidth">
                
                    <!-- <i class="fa-circle fas fa-mobile-alt fa-5x"></i> -->
     
                       <div class="circle">
                         <div class="fa-stack fa-x faPosition">
                             <!-- The icon that will wrap the number -->
                             <p class="fas fa-circle-notch fa-spin  fa-stack-2x"></p>
                             
                         </div>
     
                         <p class="fa-stack-x numberStyle">
                             <b>4</b>    
                         </p>
     
                         <p><i class="fas fa-biking fa-3x iconStyle"></i><p>
                     </div>
                
                 <div class='small processTextStyle' style="text-align: center;" ><h6 > Work Process</h6>
                    <p>fdshkj hdfskj hfdskj hsdfkjhfsgkj fhgk</p>
                </div>
     
            </div>

            <div class="col colWidth">
                
                    <!-- <i class="fa-circle fas fa-mobile-alt fa-5x"></i> -->
     
                       <div class="circle">
                         <div class="fa-stack fa-x faPosition">
                             <!-- The icon that will wrap the number -->
                             <p class="fas fa-circle-notch fa-spin  fa-stack-2x"></p>
                             
                         </div>
     
                         <p class="fa-stack-x numberStyle">
                             <b>5</b>    
                         </p>
     
                         <p><i class="fas fa-brain fa-3x iconStyle"></i><p>
                     </div>
                 
                 <div class='small processTextStyle' style="text-align: center;"><h6 > Correction</h6>
                    <p>fdshkj hdfskj hfdskj hsdfkjhfsgkj fhgk</p>
                </div>  
            </div>

            <div class="col colWidth">
                
                    <!-- <i class="fa-circle fas fa-mobile-alt fa-5x"></i> -->
     
                       <div class="circle ">
                         <div class="fa-stack fa-x faPosition">
                             <!-- The icon that will wrap the number -->
                             <p class="fas fa-circle-notch fa-spin  fa-stack-2x"></p>
                             
                         </div>
     
                         <p class="fa-stack-x numberStyle">
                             <b>6</b>    
                         </p>
     
                         <p class="far fa-check-square fa-3x iconStyle"></p>
                         <!-- <i class="far fa-check-square fa-5x"></i> -->
                     </div>
                
                 
                 <div class='small processTextStyle' style="text-align: center;">
                    <h6 > Deliver </h6>
                    <p>fdshkj hdfskj hfdskj hsdfkjhfsgkj fhgk</p>
                </div>
            </div>

        </div>


    </div>

    
</body>
</html>