<!DOCTYPE html>
<html lang="en">
<head>
      <title>top Bar</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       
        <link rel="stylesheet" href="../Final_Assignment_of_CSS/Assets/css/topbar/topbar.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
</head>
<body>
    
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            
        
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </li>
                
                <!-- <li class="nav-item">
                    <a href="#" class="fa fa-google"></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="fa fa-youtube"></a>
                </li>         -->
            </ul>
    
    
            <ul class="navbar-nav text-light">
                <li class="nav-item">
                    <i class="fa fa-phone"></i>111-222-1111   
                    <i class="fa fa-phone"></i>111-222-4444           
                </li>
                <!-- <li class="nav-item">
                    <i class="fa fa-phone"></i>111-222-4444 
                </li>         -->
            </ul>
    
            <ul class="navbar-nav text-light ">
                <form class="d-flex">
                    &nbsp;<button class="btn btn btn-primary btn-sm" type="submit">CALL ME BACK</button>
                </form>
            </ul>
            
        </div>
        </nav>
    </div>
</body>
</html>