<!DOCTYPE html>
<html lang="en">
<head>
      <title>menu Bar</title>

     
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
       
</head>
<body>
    
    <div class="container">
        
        <div class="container-fluid">

            <nav class="navbar navbar-light bg-light">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <span class="navbar-brand mb-0 h1">Navbar</span>
                    </li>                   
                </ul>

                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">WHY US</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">SERVICES</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT</a>
                      </li> 
                      <li class="nav-item">
                        <a class="nav-link" href="#">PORTFOLIO</a>
                      </li> 
                      <li class="nav-item">
                        <a class="nav-link" href="#">PROCESS</a>
                      </li> 
                      <li class="nav-item">
                        <a class="nav-link" href="#">REVIEWS</a>
                      </li> 
                      <li class="nav-item">
                        <a class="nav-link" href="#">OUR SKILLS</a>
                      </li> 
                      <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT US</a>
                      </li> 

                </ul>
                
            </nav>

            

        </div>

    </div>      
    
   
</body>
</html>