<!DOCTYPE html>
<html lang="en">
<head>
     <title>Our Services</title>
     
     <link rel='stylesheet' href='./../../Assets/css/services/services.css'>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
</head>
<body>
    <div class="container justify-content-center">

        <div class="justify-content-center" style="text-align: center;">
             <h4> <b><u>Our Services </u></b></h4>
             <p> jdkjl j hjkhk hkj hkjh jh hjk hkjh jh jhkjh kjh kjh</p>
        </div>

        <div class="row">

           <div class="col serviceInfo">

                <span class="fa-stack fa small">
                    <!-- <i class="fa fa-circle fa-stack" style="color:white"></i> -->
                    <i class="fas fa-star fa-stack-1x starCircle  fa-pulse"></i>
                </span>

                 <div>
                    <h6 class="small"><b>Web Design </b></b></h6>
                    <p class="small"> jdkjl j hjkhk hkj hkjh jh hjk hkjh jh jhkjh kjh kjh</p>
                    <a href='#' class="small"> read more</a>
                </div>
            </div> 

            <div class="col serviceInfo " >
               
                <span class="fa-stack fa small" >
                    <!-- <i class="fa fa-circle fa-stack" style="color:white"></i> -->
                    <i class="fas fa-star fa-stack-1x starCircle  fa-pulse" ></i>
                  </span>
    
                <div>
                    <h6 class="small"><b>Graphics Design</b> </h6>
                    <p  class="small"> jdkjl j hjkhk hkj hkjh jh hjk hkjh jh jhkjh kjh kjh</p>
                    <a href='#' class="small"> read more</a>
                </div>
          </div> 

          <div class="col serviceInfo">

            <span class="fa-stack fa small ">
                <!-- <i class="fa fa-circle fa-stack" style="color:white"></i> -->
                <i class="fas fa-star fa-stack-1x starCircle  fa-pulse"></i>
            </span>

            <div>
                <h6 class="small"> <b>Branding </b></h6>
                <p class="small"> jdkjl j hjkhk hkj hkjh jh hjk hkjh jh jhkjh kjh kjh</p>
                <a href='#' class="small"> read more</a>
            </div>
      </div> 

      <div class="col serviceInfo">

        <span class="fa-stack fa-x small">
            <!-- <i class="fa fa-circle fa-stack-2x" style="color:white"></i> -->
            <i class="fas fa-star fa-stack-1x starCircle  fa-pulse"  ></i>
          </span>

            <div>
                <h6 class="small"><b> Marketing </b></h6>   
                <p class="small"> jdkjl j hjkhk hkj hkjh jh hjk hkjh jh jhkjh kjh kjh</p>  
                <a href='#' class="small"> read more</a>          
            </div>
    </div> 

    </div>

    
</body>
</html>