.dIxMhd-bN97Pc-b3rLgd-fmcmS {
    display: block;
    cursor: default;
    color: #4d6a79;
}
.maptitle {
    text-align: center;
    margin-top: 5px;
    padding: 10px;
}


.contactMaptable {
    border-collapse: collapse;
    width: 100%;
}