<!DOCTYPE html>
<html lang="en">
<head>
      <title>About us</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>
    <div class="container">

        <div  class="row justify-content-center" style="background-color: rgb(243, 232, 232);">
            <h2 style="text-align: center;"> About us</h2>
          </div>
       

          <!-- <div class="d-flex flex-column flex-lg-row flex-nowrap justify-content-center"> -->
        <div class="row justify-content-center">
            
            <!-- <div  class="col-md-6"  style="background-color: rgb(243, 232, 232); 
                background-image: url('/Final_Assignment_of_CSS/Assets/images/cloudstrairs.jpg'); background-size: 100% 100%"> -->
                
             <div  class="col-md-6" style="background-color:rgb(243, 232, 232);">
                <!-- <img src="/Final_Assignment_of_CSS/Assets/images/cloudstairs.jpg" height="96%" width="100%" style="margin-top: 5px; margin-bottom: 2px;"> -->
                <img src="./../../Assets/images/cloudstairs.jpg" height="96%" width="100%" style="margin-top: 5px; margin-bottom: 2px;">
            </div>

            <div class="col-md-6" style="background-color:rgb(243, 232, 232);">
                <div style="margin-top: 10px;">
                    <p> djsfhvsjdvh ksdj h kjsdh fsdjh fksdjhf ksdj hs </p><p>hhksdj fhdskj hdskjhf sk hsdkjh sdkjh sddsf sj</p>
                    <p> sdfjkhfdskj hkjsdhkjs klnkn lkjn lj lkjlk jlkj lkj dhkjhkjhkj kjh kjh kjh khkj hkjh khk jhkj hkhkjh kjh kjhkj</p>
                </div>
            </div>
        </div>
     </div>
</body>
</html>