<!DOCTYPE html>
<html lang="en">
<head>
      <title>Slide Bar</title>
        
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       
                                   
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />
        
         <link rel="stylesheet" href="./../../Assets/css/slideBar/slideBar.css">
       
</head>

<body>
    
    <div class="container">
        
        <div class="row">                     

            <!-- <div> -->
                <div class='col-md-12 details'>
                    <h2> We are Experts </h2>
                    <p> Dummy Text fkjls jhklh dskjfhsdkjfh sdkjfh sdkjfh </p>                        
                    <p> 
                        &nbsp;<button class="btn btn btn-primary btn-sm" type="submit">Read More</button>
                   </p>
                </div>
            <!-- </div> -->

            <!-- <div> -->
                <div class="col-md-12 details">
                    <h2> We are Experts </h2>
                    <p> Dummy Text fkjls jhklh dskjfhsdkjfh sdkjfh aaaaaaaaaa</p>   
                  
                    <p> <button class="btn btn-default btn-sm" type="submit">Read More</button> </p>                             
                       
                </div>
            <!-- </div>             -->
 
        </div>
    </div>    
                
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous"></script>
                
 <script >

// $('.responsive').slick();
       
//    $('.responsive').slick({
//         dots: true,
//         infinite: true,
//         speed: 300,
//         slidesToShow: 1,
//         slidesToScroll: 1,
//         responsive: [
//             {
//             breakpoint: 1024,
//             settings: {
//                 slidesToShow: 1,
//                 slidesToScroll: 1,
//                 infinite: true,
//                 dots: true
//             }
//             },
//             {
//                 breakpoint: 800,
//                 settings: {
//                 slidesToShow: 1,
//                 slidesToScroll: 1,
                
//             }
//             },
            
//             {
//             breakpoint: 600,
//             settings: {
//                 slidesToShow: 1,
//                 slidesToScroll: 1
//             }
//             },
//             {
//             breakpoint: 480,
//             settings: {
//                 slidesToShow: 1,
//                 slidesToScroll: 1
//             }
//             }
//             // You can unslick at a given breakpoint now by adding:
//             // settings: "unslick"
//             // instead of a settings object
//         ]
//         });
</script>
</body>
</html>